<div class="pagetitle">
    <h3><%= title %></h3>
    <div>
       
        <img src="/Content/images/logo.jpg" alt="photo"  width="200">
    </div>
    <div class="col-md-6">
        <div>
            <p>Hello! I am Keying Song, a programmer. I recently graduated with high honors in software engineering from Centennial College.
                I am an excellent problem solver and continuous learner. <i>Please click here to open my 
                <a href="/Content/images/resume.pdf">resume</a> </i>.
            </p>
        </div>
        
    </div>
</div>