<div class="container">
    <h1>Business Contacts List</h1>
    <div><a href="/update.ejs">click here to add contacts</a></div>
  <div class="row">
      <div class="col">
         <table class="table table-striped table-bordered table-hover">
          <thead class="table-dark">
              <tr>
                 <th scope="col" class="text-center"></th>
                 <th scope="col">Contact Name</th>
                 <th scope="col">Contact Number</th>
                 <th scope="col">Email Address</th>
               
                 <th></th>
                 <th></th>
              </tr>
          </thead>
          <tbody id="movieList">
            <% for(let count = 0; count < contacts.length; count++) {%>
             
              <tr>
                <th scope="row" class="text-center"><%= count + 1%></th>
                <td><%= contacts[count].Name %></td>
                <td><%= contacts[count].Phone %></td>
                <td><%= contacts[count].Email %></td>
                
                <td><a href="">update</a></td>
                <td><a href="">delete</a></td>
              </tr>

             <% } %>
            
    </tbody>
   </table>
          
  
      </div>
  </div>
  
  </div>
  