<div class="pagetitle">
<div class="titlemark"><h2><%= title %></h3></div> 
</div>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/projects">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="">Web Application</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/desktopapp">Desktop Application</a>
  </li>
  <li class="nav-item">
    <a class="nav-link ">Other Projects</a>
  </li>
</ul>

<div class="pagetitle animate__animated animate__fadeInUp">
  <div class="col-md-8">
   <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
     <div class="col p-4 d-flex flex-column position-static">
       <h3 class="mb-0">Survey Generator</h3>
       <div class="mb-1 text-primary">React, Node.js, MongoDB, Express, Material-UI, Bootstrap, Recharts</div>

       <div><b>Introduction:</b></div>
       <ul >
           <li>Utilized React framework, Material-UI, and Bootstrap for building the user interface</li>
           <li>Built the RESTful API using Node.js, Express, and MongoDB  </li>
           <li>Used Axios to fetch and translate JSON data requested from RESTful APIs  </li>
           <li>Integrated Recharts for data visualization and Passport-JWT for authentication </li>
           
       </ul>
       
       <a href="https://surveygenerator-keying.herokuapp.com/" class="stretched-link">Website Link</a>
     </div>
     <div class="col-auto d-none d-lg-block">
       <img src="/Content/images/project4.png" width="300" height="390" alt="project photo">
   </div>    
     </div>    
   </div>
</div>

<div class="pagetitle animate__animated animate__fadeInUp">
  <div class="col-md-8">
   <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
     <div class="col p-4 d-flex flex-column position-static">
       <h3 class="mb-0"> Jewelry E-commerce Website </h3>
       <div class="mb-1 text-primary">Next.js, Sanity.io, Stripe</div>

       <div><b>Introduction:</b></div>
       <ul >
           <li>Utilized Next.js to set up the front end for improving search engine optimization</li>
           <li>Integrated a headless CMS, Sanity.io, to set up the back end for data storage and api conversion </li>
           <li>Integrated Stripe API to process credit card payments following the PCI compliance</li>
       </ul>
       
       <a href="https://ecommerce-production-c78a.up.railway.app/	" class="stretched-link">Website Link</a>
     </div>
     <div class="col-auto d-none d-lg-block">
       <img src="/Content/images/project5.png" width="300" height="390" alt="project photo">
   </div>    
     </div>    
   </div>
</div>

<div class="pagetitle animate__animated animate__fadeInUp">
  <div class="col-md-8">
   <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
     <div class="col p-4 d-flex flex-column position-static">
       <h3 class="mb-0">Employee Management Application</h3>
       <div class="mb-1 text-muted"> Oracle database, C#, .Net, WinForms</div>

       <div><b>Introduction:</b></div>
       <ul >
           <li>Developed a Windows Forms desktop application using C#, .Net framework</li>
           <li>Designed and created a relational database using Oracle database </li>
           <li>Developed stored procedures and functions and SQL quires for data analysis and manipulation </li>
       </ul>
       
       <a href="http://studentweb.cencol.ca/ksong15/project.html" class="stretched-link">Website Link</a>
     </div>
     <div class="col-auto d-none d-lg-block">
       <img src="/Content/images/project2.png" width="300" height="390" alt="project photo">
   </div>    
     </div>    
   </div>
</div>


<div class="pagetitle">
  <div class="col-md-9">
   <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
     <div class="col p-4 d-flex flex-column position-static">
       <strong class="d-inline-block mb-2 text-primary">Project 2</strong>
       <h3 class="mb-0">Real Estate Agent Website</h3>
       <div class="mb-1 text-muted">HTML, CSS, JavaScript, Google Maps API</div>

       <div><b>Functionality:</b></div>
       <ul >
           <li>Home: self-introduction, customer reviews, introduction vedio.</li>
           <li >Listings:display available property list. </li>
           <li>Property Detail Page:provide detailed information about the property. </li>
           <li>Contact: Contact the agent by submitting the online form. </li>
           <li>Site map</li>
       </ul>
       
       <a href="http://studentweb.cencol.ca/ksong15/project.html" class="stretched-link">Website Link</a>
     </div>
     <div class="col-auto d-none d-lg-block">
       <img src="/Content/images/project2.png" width="300" height="390" alt="project photo">
   </div>    
     </div>    
   </div>
</div>



<div class="pagetitle">
  <div class="col-md-9">
   <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
     <div class="col p-4 d-flex flex-column position-static">
       <strong class="d-inline-block mb-2 text-primary">Project 2</strong>
       <h3 class="mb-0">Real Estate Agent Website</h3>
       <div class="mb-1 text-muted">HTML, CSS, JavaScript, Google Maps API</div>

       <div><b>Functionality:</b></div>
       <ul >
           <li>Home: self-introduction, customer reviews, introduction vedio.</li>
           <li >Listings:display available property list. </li>
           <li>Property Detail Page:provide detailed information about the property. </li>
           <li>Contact: Contact the agent by submitting the online form. </li>
           <li>Site map</li>
       </ul>
       
       <a href="http://studentweb.cencol.ca/ksong15/project.html" class="stretched-link">Website Link</a>
     </div>
     <div class="col-auto d-none d-lg-block">
       <img src="/Content/images/project2.png" width="300" height="390" alt="project photo">
   </div>    
     </div>    
   </div>
</div>



<div class="pagetitle">
  <div class="col-md-9">
   <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
     <div class="col p-4 d-flex flex-column position-static">
       <strong class="d-inline-block mb-2 text-primary">Project 2</strong>
       <h3 class="mb-0">Real Estate Agent Website</h3>
       <div class="mb-1 text-muted">HTML, CSS, JavaScript, Google Maps API</div>

       <div><b>Functionality:</b></div>
       <ul >
           <li>Home: self-introduction, customer reviews, introduction vedio.</li>
           <li >Listings:display available property list. </li>
           <li>Property Detail Page:provide detailed information about the property. </li>
           <li>Contact: Contact the agent by submitting the online form. </li>
           <li>Site map</li>
       </ul>
       
       <a href="http://studentweb.cencol.ca/ksong15/project.html" class="stretched-link">Website Link</a>
     </div>
     <div class="col-auto d-none d-lg-block">
       <img src="/Content/images/project2.png" width="300" height="390" alt="project photo">
   </div>    
     </div>    
   </div>
</div>


<div class="pagetitle">
  <div class="col-md-9">
   <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
     <div class="col p-4 d-flex flex-column position-static">
       <strong class="d-inline-block mb-2 text-primary">Project 2</strong>
       <h3 class="mb-0">Real Estate Agent Website</h3>
       <div class="mb-1 text-muted">HTML, CSS, JavaScript, Google Maps API</div>

       <div><b>Functionality:</b></div>
       <ul >
           <li>Home: self-introduction, customer reviews, introduction vedio.</li>
           <li >Listings:display available property list. </li>
           <li>Property Detail Page:provide detailed information about the property. </li>
           <li>Contact: Contact the agent by submitting the online form. </li>
           <li>Site map</li>
       </ul>
       
       <a href="http://studentweb.cencol.ca/ksong15/project.html" class="stretched-link">Website Link</a>
     </div>
     <div class="col-auto d-none d-lg-block">
       <img src="/Content/images/project2.png" width="300" height="390" alt="project photo">
   </div>    
     </div>    
   </div>
</div>

   

    






    

     
  









 
   
