<div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12">
          <div class="login" id="contentArea">
              <h1 class="display-4">Add Contacts</h1>
                 <!-- Message Area -->
            <% if(messages.length > 0) { %>
                <div id="messageArea" class="alert alert-danger">
                  <%= messages %>
                </div>
                <% } %>
    
           
              <form method="POST" id="registerForm" novalidate>
                
                <div class="form-group mt-4">
                  <div class="row">
                  
                    <div class="col-md-12">
                      <input type="text" class="form-control"  name="contactname"  required
                      value="" placeholder="Contact Name">
                    </div>
                  </div>
                </div>
  
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <input type="text" class="form-control"  name="phone"  required
                      value="" placeholder="Contact Number">
                    </div>
                  </div>
                </div>
  
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <input type="text" class="form-control" name="email"  required
                      value="" placeholder="Contact Email">
                    </div>
                  </div>
                </div>
                                                    
                <div class="text-end mt-2">
                  <button id="submitButton" type="submit" class="btn btn-primary btn-lg">
                    <i class="fas fa-user-plus"></i> Add</button>
                  <button id="cancelButton" type="reset" class="btn btn-warning btn-lg">
                    <i class="fas fa-undo" href="/contact-list"></i> Cancel</button>


                    <a href="/contacts-list" id="cancelButton" type="button" class="btn btn-warning btn-lg"><i class="fas fa-undo"></i> Cancel</a>
                </div>
              </form>
             
          </div>
    </div>
  </div>