<div class="pagetitle">
    <div class="titlemark"><h2>My Projects</h3></div> 
    </div>
    
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/projects">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Web Application</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/desktopapp">Desktop Application</a>
      </li>
    </ul>


    <div class="pagetitle animate__animated animate__fadeInUp">
        <div class="col-md-8">
         <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
           <div class="col p-4 d-flex flex-column position-static">
             <h3 class="mb-0">Employee Management Application</h3>
             <div class="mb-1 text-primary"> Oracle database, C#, .Net, WinForms</div>
      
             <div><b>Introduction:</b></div>
             <ul >
                 <li>Developed a Windows Forms desktop application using C#, .Net framework</li>
                 <li>Designed and created a relational database using Oracle database </li>
                 <li>Developed stored procedures and functions and SQL quires for data analysis and manipulation </li>
             </ul>
             
             <a href="https://github.com/keying-song/employee_management" class="stretched-link">Code</a>
           </div>
           <div class="col-auto d-none d-lg-block">
             <img src="/Content/images/project5.gif" width="300" height="390" alt="project photo">
         </div>    
           </div>    
         </div>
      </div>
      
      
      <div class="pagetitle animate__animated animate__fadeInUp"> 
        <div class="col-md-8" >
         <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
           <div class="col p-4 d-flex flex-column position-static">
             <h3 class="mb-0">Expense Tracker</h3>
             <div class="mb-1 text-primary">WPF, C#, XML, Linq quiries, List, Queue</div>
      
             <div><b>Introduction:</b></div>
             <ul >
                 <li>Add users Account and enter account.</li>
                 <li >Create, Update, and delete expense/income records.</li>
                 <li>Calculate the current account balance.</li>
                 <li>Search for records by value, type or keywords </li>
                 <li>Sorting</li>
             </ul>
             
             <a href="https://github.com/keying-song/expense-tracker-app" class="stretched-link">Code</a>
           </div>
           <div class="col-auto d-none d-lg-block">
             <img src="Content/images/project1.gif" width="300" height="320" alt="">
         </div>    
           </div>    
         </div>
      </div>